*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.radio {
    display: none;
}

body {
    background: #d07085;
}

.container{
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    max-height: 600px;
}

.slider{
    width: 100%;
    margin: 85px auto;
    position: absolute;
    height: 0;
    padding-top: 56.25%;
    background: #fff;
    overflow: hidden;
    border:  solid 1px #ffff(57, 57, 57);
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    opacity: 0;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: 1.3s;
}

.caption{
    position: absolute;
    width: 100%;
    left: 5%;
    top: -100;
    color: #ffeb3b;
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: -5px;
    line-height: 60px;
    transition: 0.9%;
}
.caption span {
    display: block;
    text-transform: initial;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    line-height: 15px;
    letter-spacing: normal;
}

.dots {
    width: 100%;
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots label {
    width: 15px;
    height: 15px;
    background: #fff;
    margin: 0 10px;
    border-radius: 50%;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.2% ease-in-out;
}

.dots label:hover{
    opacity: 0.5%;
}

#radio-1:checked ~ #slide-1, #radio-2:checked ~ #slide-2, #radio-3:checked ~ #slide-3, #radio-4:checked ~ #slide-4{
    opacity: 1;
}

#radio-1:checked ~ #slide-1 img, #radio-2:checked ~ #slide-2 img, #radio-3:checked ~ #slide-3 img,#radio-4:checked ~ #slide-4 img {
    transform: scale(1)
}

#radio-1:checked ~ #slide-1 .caption, #radio-2:checked ~ #slide-2 .caption,#radio-3:checked ~ #slide-3 .caption, #radio-4:checked ~ #slide-4 .caption {
    opacity: 1;
    top: 7%;
    font-size: 80px;
}

#radio-1:checked ~ .dots #label-1, #radio-2:checked ~ .dots #label-2, #radio-3:checked ~ .dots #label-3, #radio-4:checked ~ .dots #label-4 {
    background: #fff;
    opacity: 1;
}

html{
    scroll-behavior: smooth;
}

.nav_input:checked + .nav_menu{
    background: #d07085c1;
}
.nav{
    background: #d07085af;
    height: 60px;
    color: #fff;
    position:fixed;
    width: 100%;
    z-index: 1;
}
.nav_logo{
    font-size: 1.5em;
    font-weight: 900;
}
.nav_container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}
.nav_label, .nav_input{
    display: none;
}

.nav_menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

section{
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
}
.nav_item{
    color: #fff;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);
}
.nav_item::after{
    content: "";
    display: block;
    background: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;

}
.nav_item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width: 700px){
    .nav_label{
        display: block;
        cursor: pointer;
    }
    .nav_menu{
        position: fixed;
        top: 60px;
        bottom: 0;
        background: #d07085c1;
        width:100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out ;
    }
    .nav_input:checked + .nav_menu{
        clip-path: circle(100% at center);
    }
}

section h2{
    font-size: 50px;
    font-weight: 500;
    border-bottom: 5px;
}
section p{
    font-weight: 500;
    border-bottom: 15px;
}

section a{
    display: inline-block;
    padding: 7px 0;
    color: #283773;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50px;
    background: #fff;
}

section img{
    height: 60%;
}
section:nth-child(3){
    background-color: #fecfef;
}
section:nth-child(4){
    /*background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);*/
    background-color: #fecfef;
}
section:nth-child(5){
    /*background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);*/
    background-color: #fecfef;
}
section:nth-child(6){
    /*background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);*/
    background-color: #fecfef;
}
section:nth-child(7){
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);

}

@media screen and (max-width: 1000px) {
    section{
        flex-direction: column-reverse;
        justify-content: center;
    }
    section > img {
        height: 40%;
    }
    .contenedor-texto{
        text-align: center;
    }
    
}
@media screen and (max-width:600px) {
    section > img {
        height: 30%;
    }
}
